.navbar,
.place,
.footer {
  font-family: goldman;
  color: white;
}

.navbar {
  background-color: #484848;
  font-family: goldman;
  height: 106px;
}

.jumbotron {
  background-color: #000000;
  height: 592px;
}

.d-block {
  height: 592px;
  width: 1282px;
}

.a-block {
  height: 278px;
  margin-left: 30px;
}

.place {
  background-color: #484848;
  height: 424px;
  padding-top: 25px;
}

.space {
  background-color: #000000;
  height: 60px;
}

.footer {
  background-color: #484848;
  height: 354px;
  padding-top: 300px;
  text-align: center;
}
